body {
    padding: 20px;
    margin: 0;
    background-color: rgb(209, 205, 202);
}

#sortDeskID, #sortDeskName {
    display: none;
}

table > thead > tr > td {
    width: 200px;
    color: brown;
    
}
#tab_body {
    color: rgb(49, 42, 38);
}